<header class="w-full py-3 px-4 sm:px-6 lg:px-8 sticky top-0 z-50 bg-white/80 dark:bg-black/80 backdrop-blur-sm border-b border-gray-200 dark:border-gray-800 transition-transform duration-300" id="main-header">
    <div class="max-w-7xl mx-auto flex justify-between items-center gap-4">
        <!-- Logo -->
        <a href="index.html" class="flex items-center space-x-2" aria-label="Tuto 홈으로 이동">
            <img src="https://digitaltuto.s3.ap-southeast-2.amazonaws.com/digitaltuto/%EB%A1%9C%EA%B3%A0" alt="Tuto 로고" class="w-10 h-10 rounded-full">
            <span class="text-2xl font-bold text-gray-900 dark:text-white">Tuto</span>
        </a>




    </div>
</header>